<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt-auto pushes ONE THING to the bottom. Justify content would move everything to the bottom -->
    <div class="container">
        <span class=text-muted>&copy YelpCmp 2020</span>
    </div>
</footer>